body{
    background-color: #DFF2EB;
}

h3 {
    margin-top: 3rem;
}

.task-card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    cursor: pointer;
}

input.form-control, .list-group {
    margin-top: 3rem;
    background-color: #FFFFEC;
    border: 0.175rem solid #624E88;
    border-color: #7AB2D3;
    box-shadow: 0 0 0.75rem #7AB2D3;
    color: #394e70;
    cursor: pointer;
}

input.form-control:focus {
    background-color: #FFF8DB;
}

.list-group-item {
    background-color: #FFFFEC;  
}

.task-done {
    text-decoration: line-through;
    color: #62789b;
}


